*{margin:0; padding:0; box-sizing:border-box; font-family:Arial;}

body{background:#fff; color:#222;}

/* NAVBAR */
.nav-header {
    width: 100%;
    padding: 20px 0;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #009688;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    transition: .3s;
}

.nav-links li a:hover {
    color: #009688;
}

/* HAMBURGER (Mobile) */
.menu-btn {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background: #009688;
    border-radius: 5px;
    border: 2px solid #009688;
}

/* MOBILE */
@media(max-width: 768px){
    .menu-btn {
        display: flex;
    }
    
    .nav-links {
        position: absolute;
        top: 75px;
        right: 0;
        background: white;
        width: 200px;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        display: none;
        border-left: 2px solid #009688;
    }

    .nav-links.active {
        display: flex;
    }
}


/* HERO */
.hero{
    padding:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}
.hero h1{font-size:45px;}
.hero h1 span{color:#00c4ff;}
.hero p{margin:15px 0; font-size:18px; width:80%;}
.right img{width:350px;}

.btn{background:#00c4ff; padding:10px 20px; color:#fff; border:none;}
.btn-outline{
    border:2px solid #00c4ff;
    padding:10px 20px;
    background:none;
    color:#00c4ff;
}

.grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}
.grid img{width:100%; border-radius:10px;}
/* SERVICES */
.services {
    text-align: center;
    padding: 10px 10px;
    font-family: Poppins, sans-serif;
}

.services-title {
    font-size: 42px;
    font-weight: 300;
}

.services-title span {
    color: #009688;
    font-weight: 600;
}

.services-text {
    max-width: 550px;
    margin: 10px auto 40px;
    color: #666;
    font-size: 14px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 60%;
    margin: auto;
}

.service-box {
    width: 400px;
    height: 260px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    color: #fff;
    font-weight: bold;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.boxround1{
    border-radius: 80px 0 0 0;
    margin-bottom: 0px;
    height: 350px;
}

.boxround2{
    border-radius: 0 80px 0 0;
    margin-top: 100px;
}

.boxround3{
    border-radius: 0 0 0 80px;
    height: 220px;
}

.boxround4{
    border-radius: 0 0 80px 0;
    height: 220px;
}

/* .service-box:nth-child(2),
.service-box:nth-child(4) {
    border-radius: 80px 0 80px 80px;
} */

.service-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.stars {
    color: gold;
    font-size: 18px;
}

.center-btn {
    margin-top: 40px;
}

.explore-btn {
    padding: 12px 40px;
    background: transparent;
    border: 1px solid #009688;
    color: #009688;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background: #009688;
    color: #fff;
}

@media(max-width: 768px){
    .services-grid{
        grid-template-columns: 1fr;
    }
}


/* FEATURES */
.features{
    padding:60px;
    background:#ffe9a9;
    text-align:center;
}
.feature-box{
    margin-top:35px;
    display:flex;
    gap:20px;
    justify-content:center;
}
.item{
    width:30%;
    background:#fff;
    padding:20px;
    border-radius:10px;
}

/* CLIENT */
.client{
    padding:60px;
    text-align:center;
}
.client img{
    width:130px;
    border-radius:50%;
}

/* PRICING */
.pricing{text-align:center; padding:60px;}
.price-card{
    display:inline-block;
    background:#e9f9ff;
    padding:30px;
    width:300px;
    border-radius:15px;
}
.price-card ul{margin:15px 0;}
.price-card ul li{
    list-style:none;
    padding:5px 0;
}
.price-card h1{color:#00c4ff; font-size:50px;}

.price-card1{
    display:inline-block;
    background:#e9f9ff;
    padding:30px;
    width:300px;
    border-radius:15px;
}
.price-card1 ul{margin:15px 0;}
.price-card1 ul li{
    list-style:none;
    padding:5px 0;
}
.price-card1 h1{color:#000000; font-size:50px;}

/* FAQ */
.faq{padding:60px;}
.faq-item{padding:15px 0; border-bottom:1px solid #ccc;}
.faq-item p{display:none;}

/* FOOTER */
footer{
    background:#111;
    color:#fff;
    padding:60px 20px;
    text-align:center;
}
.footer-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}
.copy{margin-top:15px; font-size:14px;}

.features-sec{
    text-align:center;
    padding:80px 20px;
    background-color: #00c3ff21;
}

.features-sec .title{
    font-size:36px;
    font-weight:300;
}
.features-sec .title span{
    color:#0c9aaa;
    font-weight:600;
}

.features-sec .sub{
    width:60%;
    margin:0 auto;
    margin-top:10px;
    color:#666;
    font-size:15px;
}

.feature-container{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:25px;
}

.feature-card{
    background:#fff;
    padding:30px 20px;
    border:1px solid #ddd;
    border-radius:6px;
    text-align:center;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.feature-card:hover{
    transform:translateY(-5px);
}

.feature-card h3{
    color:#0c9aaa;
    margin-bottom:10px;
    font-size:18px;
}

.feature-card p{
    font-size:14px;
    color:#555;
    margin-bottom:20px;
}

.feature-card a{
    text-decoration:none;
    color:#0c9aaa;
    font-size:14px;
    font-weight:600;
}





.feature-card1{
    background:#fff;
    padding:30px 20px;
    border:1px solid #ddd;
    border-radius:6px;
    text-align:center;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.feature-card1:hover{
    transform:translateY(-5px);
    color: #00c4ff;
}

.feature-card1 h3{
    color:#0c0c0c;
    margin-bottom:10px;
    font-size:18px;
}

.feature-card1 p{
    font-size:14px;
    color:#555;
    margin-bottom:20px;
}

.feature-card1 a{
    text-decoration:none;
    color:#0c0c0c;
    font-size:14px;
    font-weight:600;
}

.explore-btn{
    margin-top:40px;
    padding:12px 30px;
    background:none;
    border:2px solid #0c9aaa;
    color:#0c9aaa;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}


/* RESPONSIVE */
@media(max-width:768px){
    .hero{
        flex-direction:column;
        text-align:center;
    }
    .grid{
        grid-template-columns:repeat(2,1fr);
    }
    .feature-box{
        flex-direction:column;
    }
    .item{width:100%;}
    .footer-grid{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width:480px){
    .footer-grid{
        grid-template-columns:1fr;
    }
}
